body {
  align-content: center;
  background-image: url("C:\Users\vinay\OneDrive\Desktop\Coding\web development\react\images\background img-1.jpg");
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  max-width: 800px;
  margin: 300px;

  padding: 20px;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input,
.captcha {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

.captcha-container {
  display: flex;
  align-items: center;
}

.captcha {
  flex: 1;
  text-align: center;
  background-color: #f9f9f9;
}

.error {
  color: red;
  margin-bottom: 10px;
}

.success {
  color: green;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}
body {
  align-content: center;

  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #dcdcdc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input,
.captcha {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

.captcha-container {
  display: flex;
  align-items: center;
}

.captcha {
  flex: 1;
  text-align: center;
  background-color: #f9f9f9;
}

.error {
  color: red;
  margin-bottom: 10px;
}

.success {
  color: green;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  margin-top: 10px;
  background-color: #d4dbe1;
  color: #0c359e;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0c359e;
  color: #e2e4e8;
}
